<head>
    <title>Editar Paciente</title>
    <!-- Asegúrate de incluir las referencias necesarias -->
    <link rel="stylesheet" href="/main-edit.css">
    <link rel="stylesheet" href="/side-bar.css">
    <link rel="stylesheet" href="/main-paciente.css">
    <link rel="stylesheet" href="/global.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700;900&display=swap">
</head>

<body>
    <div class="toggle-button">
        <a href="/usuario-paciente" onclick="goBack()" class="btn btn-secondary btn-hide-show">
            <span class="fa fa-arrow-left fa-3 boton-volver"></span> Regresar
        </a>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                {{#if user}}
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center card-grouptitle">INFORMACIÓN DEL PACIENTE</h3>
                    </div>
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-md-4">
                                <div class="avatar-circle">
                                    <img src="{{user.photoUrl}}" alt="Foto de {{user.id}}" width="100">
                                </div>
                            </div>
                            <div class="col-md-8">
                                <p class="mb-1"><strong>Nombre:</strong> {{user.nombre}} {{user.primerApellido}}
                                    {{user.segundoApellido}}</p>
                                <p class="mb-1"><strong>Email:</strong> {{user.email}}</p>
                                <p class="mb-1"><strong>Domicilio:</strong> {{user.domicilio}}</p>
                                <p class="mb-1"><strong>Telefono:</strong> {{user.telefono}}</p>
                                <p class="mb-1"><strong>ID:</strong> {{user.id}}</p>

                                <label for="estadoUsuario" class="form-label"><strong>Estado:</strong></label>

                                <select class="form-select rounded-pill py-1 px-3 custom-bg-color" id="estadoUsuario"
                                    onchange="actualizarEstadoPaciente('{{user.id}}', this.value)">
                                    <option value="bloqueado" {{#ifCondEdit user.acceso '===' 'bloqueado'
                                        }}selected{{/ifCondEdit}}>Bloqueado</option>
                                    <option value="desbloqueado" {{#ifCondEdit user.acceso '===' 'desbloqueado'
                                        }}selected{{/ifCondEdit}}>Permitido</option>
                                </select>
                                <div class="btn-group">
                                    <form action="/usuario-paciente/eliminar-paciente/{{user.id}}" method="POST">
                                        <button type="submit"
                                            class="form-select rounded-pill py-1 px-3 custom-bg-color-danger"
                                            onclick="return confirm('¿Estás seguro de que deseas eliminar este paciente?')">Eliminar
                                            Paciente</button>
                                    </form>
                                </div>
                                <!-- Agrega más campos aquí -->
                            </div>
                        </div>
                    </div>
                </div>
                {{else}}
                <p>Usuario no encontrado</p>
                {{/if}}
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center card-grouptitle">DOCUMENTOS</h3>
                    </div>
                    <div class="card-body">
                        {{#if user}}
                        <div class="row">
                            <div class="col-md-3">
                                <div class="card document-card mb-4">
                                    <div class="card-header">
                                        <h4 class="text-center card-title">INE FRONTAL</h4>
                                    </div>
                                    <div class="card-body text-center">
                                        {{#if user.ine}}
                                        <a href="{{user.ine}}" target="_blank" class="btn btn-primary">Ver Documento</a>
                                        <button class="btn btn-danger mt-2"
                                            onclick="anularDocumento('{{user.id}}', 'ine')">Anular Documento</button>
                                        {{else}}
                                        <button class="btn btn-primary" disabled>Ver Documento</button>
                                        <button class="btn btn-danger mt-2" disabled>Anular Documento</button>
                                        {{/if}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card document-card">
                                    <div class="card-header">
                                        <h4 class="text-center card-title">INE TRASERO</h4>
                                    </div>
                                    <div class="card-body text-center">
                                        {{#if user.ine2}}
                                        <a href="{{user.ine2}}" target="_blank" class="btn btn-primary">Ver
                                            Documento</a>
                                        <button class="btn btn-danger mt-2"
                                            onclick="anularDocumento('{{user.id}}', 'ine2')">Anular Documento</button>
                                        {{else}}
                                        <button class="btn btn-primary" disabled>Ver Documento</button>
                                        <button class="btn btn-danger mt-2" disabled>Anular Documento</button>
                                        {{/if}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card document-card">
                                    <div class="card-header">
                                        <h4 class="text-center two-line-text card-title">CURP</h4>
                                    </div>
                                    <div class="card-body text-center">
                                        {{#if user.curp}}
                                        <a href="{{user.curp}}" target="_blank" class="btn btn-primary">Ver
                                            Documento</a>
                                        <button class="btn btn-danger mt-2"
                                            onclick="anularDocumento('{{user.id}}', 'curp')">Anular Documento</button>
                                        {{else}}
                                        <button class="btn btn-primary" disabled>Ver Documento</button>
                                        <button class="btn btn-danger mt-2" disabled>Anular Documento</button>
                                        {{/if}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card document-card">
                                    <div class="card-header">
                                        <h4 class="text-center two-line-text card-title">RECETA MÉDICA</h4>
                                    </div>
                                    <div class="card-body text-center">
                                        {{#if user.receta}}
                                        <a href="{{user.receta}}" target="_blank" class="btn btn-primary">Ver
                                            Documento</a>
                                        <button class="btn btn-danger mt-2"
                                            onclick="anularDocumento('{{user.id}}', 'receta')">Anular Documento</button>
                                        {{else}}
                                        <button class="btn btn-primary" disabled>Ver Documento</button>
                                        <button class="btn btn-danger mt-2" disabled>Anular Documento</button>
                                        {{/if}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card document-card">
                                    <div class="card-header">
                                        <h4 class="text-center card-title">COMPROBANTE DE DOMICILIO</h4>
                                    </div>
                                    <div class="card-body text-center">
                                        {{#if user.comprobanteDomicilio}}
                                        <a href="{{user.comprobanteDomicilio}}" target="_blank"
                                            class="btn btn-primary">Ver Documento</a>
                                        <button class="btn btn-danger mt-2"
                                            onclick="anularDocumento('{{user.id}}', 'comprobanteDomicilio')">Anular
                                            Documento</button>
                                        {{else}}
                                        <button class="btn btn-primary" disabled>Ver Documento</button>
                                        <button class="btn btn-danger mt-2" disabled>Anular Documento</button>
                                        {{/if}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{else}}
                        <p>Usuario no encontrado</p>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>

        <!-- tabla servicios -->
        <div class="row mt-4">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center card-grouptitle">SERVICIOS SOLICITADOS</h3>
                    </div>
                    <div class="card-body">
                        {{#if historial.length}}
                        <div class="row">
                            <div class="col-md-6">
                                <p>Total de servicios: {{totalFilas}}</p>
                            </div>
                        </div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Fecha</th>
                                    <th>Hora</th>
                                    <th>Servicio</th>
                                    <th>Categoria</th>
                                    <th>Tipo</th>
                                    <th>Atendió</th>
                                    <!-- Agrega más encabezados según sea necesario -->
                                </tr>
                            </thead>
                            <tbody>
                                {{#each historial}}
                                <tr>
                                    <td>{{this.historialData.numeroFila}}</td>
                                    <td>{{this.historialData.dia}} <br>
                                        {{this.historialData.diaDelMes}} de {{this.historialData.mes}} de
                                        {{this.historialData.ano}}</td>
                                    <td>{{this.historialData.hora}}</td>
                                    <td>{{this.historialData.servicio}}</td>
                                    <td>{{this.historialData.tipoCategoria}}</td>
                                    <td>{{this.historialData.tipoServicio}}</td>
                                    <td><a
                                            href="/usuario-enfermera/{{this.historialData.enfermeraId}}">{{this.historialData.nombreEnfermera}}</a>
                                    </td>
                                    <!-- Añade más celdas según sea necesario -->
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                        {{else}}
                        <p>No hay historial disponible</p>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>

        <!-- Agrega un espacio al final de la página -->
        <div style="height: 40px;"></div>

    </div> <!-- Cierre del contenedor principal -->


    <script>
        function anularDocumento(userId, tipoDocumento) {
            if (confirm("¿Estás seguro de que deseas anular este documento?")) {
                fetch(`/usuario-paciente/anular-documento/${userId}/${tipoDocumento}`, {
                    method: 'POST',
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            alert("Documento anulado exitosamente");
                            location.reload();
                        } else {
                            alert("Hubo un error al anular el documento");
                        }
                    })
                    .catch(error => {
                        console.error("Error:", error);
                        alert("Hubo un error en la solicitud");
                    });
            }
        }

        function actualizarEstadoPaciente(userId, nuevoEstado) {
            if (confirm("¿Estás seguro de que deseas cambiar el estado de este usuario?")) {
                fetch(`/usuario-paciente/cambiar-estado/${userId}/${nuevoEstado}`, {
                    method: 'POST',
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            alert("Estado actualizado correctamente");
                            location.reload();
                        } else {
                            alert("Ocurrio un error al actualizar el estado");
                        }
                    })
                    .catch(error => {
                        console.error("Error:", error);
                        alert("Hubo un error en la solicitud");
                    });
            }
        }
        function eliminarPaciente(userId, nuevoEstado) {
            if (confirm("¿Estás seguro de que deseas cambiar el estado de este usuario?")) {
                fetch(`/usuario-paciente/cambiar-estado/${userId}/${nuevoEstado}`, {
                    method: 'POST',
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            alert("Estado actualizado correctamente");
                            location.reload();
                        } else {
                            alert("Ocurrio un error al actualizar el estado");
                        }
                    })
                    .catch(error => {
                        console.error("Error:", error);
                        alert("Hubo un error en la solicitud");
                    });
            }
        }
    </script>

</body>