<!DOCTYPE html>
<html>

<head>
</head>
<style>
    .title-bold{
        font-weight: bold;
    }
</style>

<body>
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center min-vh-200">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h1 class="text-center">Editar Servicio Básico</h1>
                    </div>
                    <div class="card-body">
                        <form action="/servicios-intermedios/update-contact/{{contactId}}" method="POST">
                            <div class="form-group">
                                <label class="title-bold" for="icono">Icono:</label>
                                <input type="text" id="icono" name="icono" value="{{contact.icono}}" class="form-control">
                            </div>
                            <div class="form-group">
                                <label class="title-bold" for="procedimiento">Procedimiento:</label>
                                <input type="text" id="procedimiento" name="procedimiento" value="{{contact.procedimiento}}" class="form-control">
                            </div>
                            <div class="form-group">
                                <label class="title-bold" for="descripcion">Descripción:</label>
                                <input type="text" id="descripcion" name="descripcion" value="{{contact.descripcion}}" class="form-control">
                            </div>
                            <div class="form-group">
                                <label class="title-bold" for="material">Material:</label>
                                <input type="text" id="material" name="material" value="{{contact.material}}" class="form-control">
                            </div>
                            <div class="form-group">
                                <label class="title-bold" for="tiempo">Tiempo:</label>
                                <input type="text" id="tiempo" name="tiempo" value="{{contact.tiempo}}" class="form-control">
                            </div>
                            <div class="form-group">
                                <label class="title-bold" for="precio">Precio:</label>
                                <input type="text" id="precio" name="precio" value="{{contact.precio}}" class="form-control">
                            </div>
                            <button class="btn btn-primary btn-block">
                                Actualizar
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
