<html>

<head>

        <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap">
    <title>Servicios</title>
    <style>
        .icon-option {
            max-width: 50px;
            max-height: 50px;
        }
    </style>
    <script>
        function toggleCard(cardId) {
            var detailsDiv = document.querySelector('#card-body-' + cardId + ' .details');
            var toggleButton = document.querySelector('#toggle-button-' + cardId);

            if (detailsDiv.style.display === 'none') {
                detailsDiv.style.display = 'block';
                toggleButton.style.backgroundColor = ''; // Restablece el color de fondo original
            } else {
                detailsDiv.style.display = 'none';
                toggleButton.style.backgroundColor = '#1BC0B2'; // Cambia el color de fondo al ocultar la información
            }
        }

        function validarFormulario() {
            var iconos = document.getElementsByName('icono');
            var iconoSeleccionado = false;

            for (var i = 0; i < iconos.length; i++) {
                if (iconos[i].checked) {
                    iconoSeleccionado = true;
                    break;
                }
            }

            if (!iconoSeleccionado) {
                alert('Debes seleccionar un icono antes de continuar.');
                return; // No hacer nada más
            }

            var procedimiento = document.getElementById('procedimiento').value.trim();
            var descripcion = document.getElementById('descripcion').value.trim();
            var tiempo = document.getElementById('tiempo').value.trim();
            var precio = document.getElementById('precio').value.trim();

            var camposFaltantes = [];

            if (procedimiento === "") {
                camposFaltantes.push('Procedimiento');
            }

            if (descripcion === "") {
                camposFaltantes.push('Descripción');
            }

            if (tiempo === "") {
                camposFaltantes.push('Tiempo');
            } else if (!/^\d*$/.test(tiempo)) {
                alert('El campo Tiempo debe contener solo números. \nExpresa el campo en minutos, ejemplo:\nTiempo: 120');
                return; // No hacer nada más
            }

            if (precio === "") {
                camposFaltantes.push('Precio');
            } else if (!/^\d*$/.test(precio)) {
                alert('El campo Precio debe contener solo números.');
                return; // No hacer nada más
            }

            if (camposFaltantes.length > 0) {
                var mensaje = 'Los siguientes campos son obligatorios: ' + camposFaltantes.join(', ');
                alert(mensaje);
                return; // No hacer nada más
            }

            // Continuar con el envío del formulario
            document.querySelector('form').submit();
        }


    </script>
</head>

<body>
    {{!-- {{#if isAuthenticated}} <!-- Verificar si el usuario está autenticado --> --}}

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h1>Servicios Básicos</h1>
                    </div>
                    <div class="card-body">
                        {{#if contacts}}
                        <ul class="list-group">
                            {{#each contacts}}
                            <li class="list-group-item">
                                <div class="card mb-3">
                                    <div class="card-body" id="card-body-{{id}}">
                                        <div class="icon-procedure">
                                            <img src="{{icono}}" alt="Icono del servicio" class="icon-option" />
                                            <div>
                                                <label class="card-text title-bold procedure-label">
                                                    Procedimiento: <span class="non-bold">{{procedimiento}}</span>
                                                </label>
                                            </div>
                                        </div>


                                        <div class="details" style="display: none;">
                                            <p class="card-text title-bold">Descripción:
                                                <span class="non-bold">{{descripcion}}</span>
                                            </p>
                                            <label class="card-text title-bold">Material:
                                                <span class="non-bold">{{material}}</span>
                                            </label>
                                            <label class="card-text title-bold">Tiempo:
                                                <span class="non-bold">{{tiempo}} minutos</span>
                                            </label>
                                            <label class="card-text title-bold">Precio: $
                                                <span class="non-bold">{{precio}}</span>
                                            </label>
                                        </div>
                                        <br>
                                        <div class="toggle-button">
                                            <button id="toggle-button-{{id}}" class="btn btn-secondary btn-hide-show"
                                                onclick="toggleCard('{{id}}')">Mostrar/Ocultar</button>
                                        </div>

                                    </div>
                                    <div class="card-footer">
                                        <a href="/servicios-basicos/delete-contact/{{id}}" class="btn btn-danger"
                                            onclick="return confirm('¿Estás seguro de que deseas eliminar este servicio?')">Eliminar</a>
                                        <a href="/servicios-basicos/edit-contact/{{id}}" class="btn btn-primary"
                                            onclick="return confirm('¿Estás seguro de que deseas editar este servicio?')">Editar</a>
                                    </div>
                                </div>
                            </li>
                            {{/each}}
                        </ul>
                        {{else}}
                        <p>No hay servicios.</p>
                        {{/if}}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h1>Añadir Nuevo Servicio</h1>
                    </div>
                    <div class="card-body">
                        <form action="/servicios-basicos/new-contact" method="POST">
                            <div class="form-group">
                                <label class="title-bold" for="icono">Selecciona el icono:</label>
                                <div class="image-grid">
                                    {{#each iconUrls}}
                                    <label class="image-option">
                                        <input type="radio" name="icono" value="{{this}}" required />
                                        <img src="{{this}}" alt="Icono" class="icon-option" />
                                    </label>
                                    {{/each}}
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="title-bold" for="procedimiento">Procedimiento:</label>
                                <input type="text" id="procedimiento" name="procedimiento" placeholder="Procedimiento"
                                    class="form-control" required />
                            </div>

                            <div class="form-group">
                                <label class="title-bold" for="descripcion">Descripción:</label>
                                <textarea id="descripcion" name="descripcion" placeholder="Descripción"
                                    class="form-control" rows="4" required></textarea>
                            </div>

                            <div class="form-group">
                                <label class="title-bold" for="tiempo">Tiempo:</label>
                                <input type="text" id="tiempo" name="tiempo" placeholder="Tiempo" class="form-control"
                                    inputmode="numeric" pattern="^\d*$" required />

                            </div>

                            <div class="form-group">
                                <label class="title-bold" for="precio">Precio:</label>
                                <input type="text" id="precio" name="precio" placeholder="Precio" class="form-control"
                                    inputmode="numeric" pattern="^\d*$" required />

                            </div>

                            <div class="form-group">
                                <label class="title-bold" for="material">Material:</label>
                                <input type="text" id="material" name="material" placeholder="Material"
                                    class="form-control" />
                            </div>

                            <button type="button" class="btn btn-primary btn-block"
                                onclick="validarFormulario()">Agregar Servicios</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{!-- {{else}}
    <p>Debes iniciar sesión para acceder a esta página. <a href="/inicio-sesion">Iniciar sesión</a></p>
    {{/if}} --}}
</body>

</html>