<head>
    <title>Pacientes</title>
    <!-- Asegúrate de incluir las referencias necesarias -->
</head>

<body>
    <h1>Pacientes</h1>
    <div class="search-container">
        <label for="searchInput">Buscar:</label>
        <input type="text" id="searchInput" onkeyup="filterTable()" placeholder="Escribe el parámetro...">
    </div>
     <div class="filter-container">
        <label for="categoryFilter">Filtrar por acceso:</label>
        <select id="categoryFilter" onchange="filterTableByCategory()">
            <option value="">Todas</option>
            <option value="bloqueado">Bloqueado</option>
            <option value="desbloqueado">Desbloqueado</option>
        </select>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Foto</th>
                <th>ID</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Acceso</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
    {{#each allUsers}}
    <tr data-category="{{this.userData.acceso}}">
        <td><img src="{{this.userData.photoUrl}}" alt="Foto de {{this.id}}" width="50"></td>
        <td><a href="/usuario-paciente/{{id}}">{{id}}</a></td>
        <td>{{this.userData.nombre}} {{this.userData.primerApellido}} {{this.userData.segundoApellido}}</td>
        <td>{{this.userData.email}}</td>
        <td>
            {{#ifCond this.userData.acceso '===' 'desbloqueado'}}
                Permitido
            {{else}}
                Bloqueado
            {{/ifCond}}
        </td>

        <td>
            <a href="/usuario-paciente/{{id}}">Ver</a>
        </td>
    </tr>
    {{/each}}
</tbody>
    </table>
</body>

<script>
    // Función para filtrar la tabla basada en el valor de búsqueda
    function filterTable() {
        const input = document.getElementById('searchInput');
        const filter = input.value.toUpperCase();
        const table = document.querySelector('.table');
        const rows = table.getElementsByTagName('tr');

        for (let i = 1; i < rows.length; i++) {
            const cells = rows[i].getElementsByTagName('td');
            let shouldDisplay = false;

            for (let j = 0; j < cells.length; j++) {
                const cellText = cells[j].textContent || cells[j].innerText;
                if (cellText.toUpperCase().indexOf(filter) > -1) {
                    shouldDisplay = true;
                    break;
                }
            }

            rows[i].style.display = shouldDisplay ? '' : 'none';
        }
    }

     function filterTableByCategory() {
        const select = document.getElementById('categoryFilter');
        const selectedCategory = select.value;
        const table = document.querySelector('.table');
        const rows = table.getElementsByTagName('tr');

        for (let i = 1; i < rows.length; i++) {
            const category = rows[i].getAttribute('data-category');
            if (selectedCategory === '' || category === selectedCategory) {
                rows[i].style.display = '';
            } else {
                rows[i].style.display = 'none';
            }
        }
    }
</script>